@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@import 'katex/dist/katex.min.css';
@import 'highlight.js/styles/github.css';

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: #05101c;
  font-family: "Roboto Slab", sans-serif;
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

/* .katex-display {
  overflow-x: visible !important;
  width: auto !important;
  margin: 0.5em 0;
}

.katex {
  max-width: 100%;
  overflow-x: visible !important;
}

.katex .katex-html {
  white-space: normal; 
  overflow-x: visible !important;
} */
